
.nav-bar {
    gap: 16px;
    padding: 12px;
}

.nav-bar__icon {
    width: 32px;
    height: 32px;
}


.profile {
    margin: 24px 0;
}

.profile__avatar {
    width: 123px;
    height: 123px;
    border-radius: 16px;
    object-fit: cover;
}

.profile__name {
    font: 500 32px/1 'Golos UI', sans-serif;
    color: #222222;
    margin: 12px 0;
}

.profile__bio {
    font: 400 15px/18px 'Golos UI', sans-serif;
    color: #222222;
    max-width: 600px;
}


.stats {
    gap: 8px;
    margin: 16px 0;
}

.stats__count {
    font: 400 15px/18px 'Golos UI', sans-serif;
    color: #222222;
}


.gallery {
    gap: 2.5px;
    width: 976px;
}

.gallery__item {
    width: 322px;
    height: 322px;
    border-radius: 2px;
    object-fit: cover;
}